################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bots/psgpt/.env
/bots/psgpt/local-cert.crt
/bots/psgpt/local-cert.key
/copilot/CopilotChatWebApi/.vs
/copilot/CopilotChatWebApi/.vscode
/copilot/CopilotChatWebApi/bin
/copilot/CopilotChatWebApp/node_modules
/NewFile
/data
/.pytest_cache
/SemanticMemoryUpload/.vscode
/copilot/CopilotChatWebApi/appsettings.json
/Utilities/SemanticMemoryUpload/local.settings.json
.fake
/Lib/testapp
/FunctionApps/KernelHttpServer/local.settings.json
/copilot/CopilotChatWebApi/obj
/FunctionApps/KernelHttpServer/obj/Debug
/FunctionApps/KernelHttpServer/obj/Release
/Utilities/testapp
/Utilities/testapp/Program.cs
/copilot/CopilotChatWebApp/build
/copilot/CopilotChatWebApp/.vs/CopilotChat
/Lib/.vs
/FunctionApps/KernelHttpServer/.vs
/FunctionApps/KernelHttpServer/.vscode
/FunctionApps/KernelHttpServer/bin
.vs/EngineeringCopilot/v17/workspaceFileList.bin
.vs/slnx.sqlite
copilot/CopilotChatWebApi/.gitignore
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.pdb/5263152C41354510811500D8A8067D1Fffffffff/Microsoft.AspNetCore.Authentication.JwtBearer.pdb
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.AspNetCore.Authorization.Policy.pdb/55D55BE64D754DD4880D83CD439465B6ffffffff/Microsoft.AspNetCore.Authorization.Policy.pdb
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Core.pdb/72AD9947959C4A99BB15D49649B5A757ffffffff/Microsoft.AspNetCore.Mvc.Core.pdb
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.pdb/00426316A6D143029392A0F982CEAA41ffffffff/Microsoft.AspNetCore.Mvc.pdb
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.Identity.Web.pdb/01b75fea460a4c88a523b4775c20d06d1/symsrv.miss.txt
Lib/SemanticMemoryDocumentImport/bin/Debug/net6.0/Microsoft.Identity.Web.pdb/01B75FEA460A4C88A523B4775C20D06Dffffffff/Microsoft.Identity.Web.pdb
Utilities/SemanticMemoryDocumentImport/obj/Debug/net6.0/SemanticMemoryDocumentImport.assets.cache
Utilities/SemanticMemoryDocumentImport/obj/Debug/net6.0/SemanticMemoryDocumentImport.GeneratedMSBuildEditorConfig.editorconfig
.gitignore
Utilities/SemanticMemoryDocumentImport/obj/Debug/net6.0/SemanticMemoryDocumentImport.GeneratedMSBuildEditorConfig.editorconfig
Utilities/SemanticMemoryDocumentImport/obj/Debug/net6.0/SemanticMemoryDocumentImport.assets.cache
.vs/EngineeringCopilot/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/slnx.sqlite
